[submodule "cosmic-edit-git"]
	path = cosmic-edit-git
	url = https://aur.archlinux.org/cosmic-edit-git.git
[submodule "cosmic-icons-git"]
	path = cosmic-icons-git
	url = https://aur.archlinux.org/cosmic-icons-git.git
[submodule "cosmic-greeter-git"]
	path = cosmic-greeter-git
	url = https://aur.archlinux.org/cosmic-greeter-git.git
[submodule "cosmic-launcher-git"]
	path = cosmic-launcher-git
	url = https://aur.archlinux.org/cosmic-launcher-git.git
[submodule "cosmic-notifications-git"]
	path = cosmic-notifications-git
	url = https://aur.archlinux.org/cosmic-notifications-git.git
[submodule "cosmic-osd-git"]
	path = cosmic-osd-git
	url = https://aur.archlinux.org/cosmic-osd-git.git
[submodule "cosmic-panel-git"]
	path = cosmic-panel-git
	url = https://aur.archlinux.org/cosmic-panel-git.git
[submodule "cosmic-randr-git"]
	path = cosmic-randr-git
	url = https://aur.archlinux.org/cosmic-randr-git.git
[submodule "cosmic-screenshot-git"]
	path = cosmic-screenshot-git
	url = https://aur.archlinux.org/cosmic-screenshot-git.git
[submodule "cosmic-store-git"]
	path = cosmic-store-git
	url = https://aur.archlinux.org/cosmic-store-git.git
[submodule "xdg-desktop-portal-cosmic-git"]
	path = xdg-desktop-portal-cosmic-git
	url = https://aur.archlinux.org/xdg-desktop-portal-cosmic-git.git
[submodule "cosmic-workspaces-git"]
	path = cosmic-workspaces-git
	url = https://aur.archlinux.org/cosmic-workspaces-git.git
[submodule "cosmic-settings-daemon-git"]
	path = cosmic-settings-daemon-git
	url = https://aur.archlinux.org/cosmic-settings-daemon-git.git
[submodule "cosmic-session-git"]
	path = cosmic-session-git
	url = https://aur.archlinux.org/cosmic-session-git.git
[submodule "cosmic-comp-git"]
	path = cosmic-comp-git
	url = https://aur.archlinux.org/cosmic-comp-git.git
[submodule "cosmic-applets-git"]
	path = cosmic-applets-git
	url = https://aur.archlinux.org/cosmic-applets-git.git
[submodule "cosmic-bg-git"]
	path = cosmic-bg-git
	url = https://aur.archlinux.org/cosmic-bg-git.git
[submodule "cosmic-applibrary-git"]
	path = cosmic-applibrary-git
	url = https://aur.archlinux.org/cosmic-applibrary-git.git
[submodule "cosmic-settings-git"]
	path = cosmic-settings-git
	url = https://aur.archlinux.org/cosmic-settings-git.git
[submodule "pop-icon-theme-git"]
	path = pop-icon-theme-git
	url = https://aur.archlinux.org/pop-icon-theme-git.git
