[submodule "cosmic-edit-git"]
	path = cosmic-edit-git
	url = https://aur.archlinux.org/cosmic-edit-git.git
[submodule "cosmic-icons-git"]
	path = cosmic-icons-git
	url = https://aur.archlinux.org/cosmic-icons-git.git
[submodule "cosmic-files-git"]
	path = cosmic-files-git
	url = https://aur.archlinux.org/cosmic-files-git.git
[submodule "cosmic-greeter-git"]
	path = cosmic-greeter-git
	url = https://aur.archlinux.org/cosmic-greeter-git.git
[submodule "cosmic-launcher-git"]
	path = cosmic-launcher-git
	url = https://aur.archlinux.org/cosmic-launcher-git.git
[submodule "cosmic-notifications-git"]
	path = cosmic-notifications-git
	url = https://aur.archlinux.org/cosmic-notifications-git.git
[submodule "cosmic-osd-git"]
	path = cosmic-osd-git
	url = https://aur.archlinux.org/cosmic-osd-git.git
[submodule "cosmic-panel-git"]
	path = cosmic-panel-git
	url = https://aur.archlinux.org/cosmic-panel-git.git
[submodule "cosmic-randr-git"]
	path = cosmic-randr-git
	url = https://aur.archlinux.org/cosmic-randr-git.git
[submodule "cosmic-screenshot-git"]
	path = cosmic-screenshot-git
	url = https://aur.archlinux.org/cosmic-screenshot-git.git
